{{extend 'navbar.html'}}
{{ include 'web2py_ajax.html'}}
    <head>
        <link rel="stylesheet" href="{{=URL('static','css/flash.css')}}"/> <!--  a custom css file for flash massage -->
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="{{=URL('static','js/flash.js')}}"></script>  <!-- js file dedicated to the flash messages -->

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    </head>

    <body>


{{ if session.flash:}}
<div class="popup"> <a href="#" class="close">
  <svg id="Layer_1" x="0px" y="0px" width="10px" height="10px" viewBox="215.186 215.671 80.802 80.8" enable-background="new 215.186 215.671 80.802 80.8" xml:space="preserve">
        <polygon fill="#FFFFFF" points="280.486,296.466 255.586,271.566 230.686,296.471 215.19,280.964 240.086,256.066 215.186,231.17 230.69,215.674 255.586,240.566 280.475,215.671 295.985,231.169 271.089,256.064 295.987,280.96 "/>
       </svg></a>
      <div class="flash"><h1 >{{=session.flash or ''}}</h1></div>
</div>
{{pass}}

        <div class="container">
            <div class="form">
                <div class="page_menu">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-8">
                            <h1>Edit Contact</h1>
                        </div>
                    </div>
                </div>
                <div class="well">
                    {{=form.custom.begin}}
                        <div class="row">
                            
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <h3>Company Information</h3>
                            </div>

                            {{for key in company_form_fields.keys():}}
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">{{=company_form_fields[key]}}</label>
                                {{=eval('form.custom.widget.'+key)}}
                            </div>
                            {{pass}}

                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <h3>Contact Information</h3>
                                <input type="hidden" name="company_key_id" id="company_key_id" value=0>
                                <input type="hidden" name="contact_key_id" id="contact_key_id" value=0>
                            </div>


                            {{for key in contact_form_fields.keys():}}
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">{{=contact_form_fields[key]}}</label>
                                {{=eval('form.custom.widget.'+key)}}
                            </div>
                            {{pass}}

                            <style>
                                #suggestions { position: relative; }
                                .suggestions { background: white; border: solid 1px #55A6C8; }
                                .suggestions DIV { padding: 2px 4px 2px 4px; }
                            </style>
        
                        </div>
                   
                    </div>
                <div class="row">
                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-8">
                            
                        </div>
                        <div class="col-md-offset-3 col-lg-offset-3 col-md-3 col-lg-3 col-xs-12 col-sm-4">
                            <p class="margin_t_20">
                                <input type="submit" class="btn btn-primary btn-lg" value="Save">
                                <a href="{{=URL('../../../ERP/CRM/contacts')}}"><button type="button" class="btn btn-default btn-lg">Cancel</button></a>
                            </p>
                        </div>
                    </div>
                     {{=form.custom.end}}
            </div>
        </div>
<script type="text/javascript">
    function setUserTimeZone() {
        $('#local_timezone').val(Intl.DateTimeFormat().resolvedOptions().timeZone);
        //debugger;
        var now = new Date();
        var month = parseInt(now.getMonth()) + 1;
        $('#local_entry_time').val(now.getFullYear()+'-'+month+'-'+now.getDate()+' '+now.toLocaleTimeString());
    }
    setUserTimeZone();

    
</script>
<script type="text/javascript">
    // Global variable
    var companyJsonFields = {};
    var contactJsonFields = {};
    // Javascript functions for search the company name and contact name
    $('[name="company_name"]').after('<div style="position: absolute;" id="company_suggestions" class="suggestions"></div>');
    jQuery("#no_table_company_name").keyup(function(){
        reset_company_field_value();
        ajax('{{=URL('CRM', 'company_selector')}}', ['company_name'], 'company_suggestions');
        $('#company_suggestions').show();
    });


    // Function to reset the values in the input types and remove the values already set
    function reset_company_field_value() {
        $.each(companyJsonFields, function(k,v){
            var element = $('#no_table_'+k).prop('tagName');
            switch(element) {
                case '':
                    break;
                default:
                    $('#no_table_'+k).val();
                    $('#no_table_'+k).prop('readonly',false);
                    break;
            }
        });
        $('#company_key_id').val('0');
        /*var allInput = $(':input[type=text]');
        $("form").each(function(){
            $(this).find(':input').val(); //<-- Should return all input elements in that specific form.
            $(this).find(':input').prop('readonly',false);
            $(this).find('textarea').val(); //<-- Should return all input elements in that specific form.
            $(this).find('textarea').prop('readonly',false);
            $('#company_key_id').val('0');
        });*/
    }


    function set_company_value(obj) {
        var lCompanyID = $(obj).data('id');
        ajax('{{=URL('CRM', 'company_details')}}?contactId='+lCompanyID, [], ':eval');
        $('#company_key_id').val(lCompanyID);
    }

    function setCompanyValue(jsonData) {
        companyJsonFields = jsonData;
        $.each(jsonData, function(k,v){
            //debugger;
            var element = $('#no_table_'+k).prop('tagName');
            switch(element) {
                case 'SELECT':
                    $('option:selected', 'select[name="'+k+'"]').removeAttr('selected');
                    $('#no_table_'+k).prop('disabled',false);
                    break;
                default:
                    $('#no_table_'+k).val(v);
                    $('#no_table_'+k).prop('readonly',true);
                    break;
            } 
        });
        $("#no_table_company_name").prop('readonly',false);
        $('#company_suggestions').hide();
    }

    function set_contact_company_value(lCompanyID) {
        ajax('{{=URL('CRM', 'company_details')}}?contactId='+lCompanyID, [], ':eval');
        $('#company_key_id').val(lCompanyID);
    }

    // Functions to set the value contact value
    $('[name="first_name"]').after('<div style="position: absolute;" id="contact_suggestions" class="suggestions"></div>');

    jQuery("#no_table_first_name").keyup(function(){
        reset_contact_field_value();
        lCompanyID = $('#company_key_id').val();
        ajax('{{=URL('CRM', 'contact_selector')}}', ['first_name','company_key_id'], 'contact_suggestions');
        $('#contact_suggestions').show();
    });


    function reset_contact_field_value() {
        $.each(contactJsonFields, function(k,v){
            var element = $('#no_table_'+k).prop('tagName');
            switch(element) {
                case 'SELECT':
                    $('option:selected', 'select[name="'+k+'"]').removeAttr('selected');
                    $('#no_table_'+k).prop('disabled',false);
                    break;
                default:
                    $('#no_table_'+k).val();
                    $('#no_table_'+k).prop('readonly',false);
                    break;
            }
        });
        $('#contact_key_id').val('0');
    }

    function set_contact_value(obj) {
        debugger;
        var lCompanyCheck = $('#company_key_id').val();
        var lContactId = $(obj).data('contact_id');
        var lCompanyId = $(obj).data('company_id');
        if (lCompanyCheck == 0) {
            set_contact_company_value(lCompanyId);
        }
        $('#contact_key_id').val(lContactId);
        ajax('{{=URL('CRM', 'contact_details')}}', ['contact_key_id'], ':eval');
    }

    function setContactValue(jsonData) {
        //debugger;
        contactJsonFields = jsonData;
        $.each(jsonData, function(k,v){
            debugger;
            var element = $('#no_table_'+k).prop('tagName');
            switch(element) {
                case 'SELECT':
                    $('select[name="'+k+'"]').find('option[value="'+v+'"]').attr("selected",true);
                    $('#no_table_'+k).prop('disabled',true);
                    break;
                default:
                    $('#no_table_'+k).val(v);
                    $('#no_table_'+k).prop('readonly',true);
                    break;
            } 
        });
        $("#no_table_first_name").prop('readonly',false);
        $('#contact_suggestions').hide();
    }
</script>
message:--
{{=session.message}}
    </body>
