<header>
<!-- Main menu -->
	<div class="main_nav_container">
		<div class="main_nav">
			<div class="main_nav_left">
				<!-- <div class="logo" id="logo_client">
					<img src="images/bidec_logo_blue.png">
				</div> -->
				<div class="main_menu">
					<div class="menu_options">
						<a href="{{=URL('../../../ERP/CRM/crm')}}">Dashboard</a>
					</div>
					<div class="menu_options">
						<a href="{{=URL('../../../ERP/CRM/leads')}}">Leads</a>
					</div>
					<div class="menu_options">
						<a href="">Accounts</a>
					</div>
					<div class="menu_options">
						<a href="{{=URL('../../../ERP/Deals/view')}}">Deals</a>
					</div>
					<div class="menu_options">
						<a href="{{=URL('../../../ERP/CRM/contacts')}}">Contacts</a>
					</div>
					<div class="menu_options">
						<a href="">Meetings</a>
					</div>
				</div>
			</div>
			<div class="main_nav_right pull-right">
				<div class="menu_options">
					<a href="" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
				</div>
				<div class="menu_options">
					<a href="#" class="dropdown-toggle tooltipped" type="button" data-toggle="dropdown" data-position="bottom" data-delay="50" data-tooltip="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
					<div class="dropdown-menu dd-menu " style="width: auto;">
		              	<ul>
			                <li><a href="{{=URL('CRM','leads_add')}}"> Leads</a></li>
			                <li><a href="{{=URL('Deals','add')}}"> Deals</a></li>
			                <li><a href="{{=URL('CRM','contacts_add')}}"> Contacts</a></li>
			                <li><a href="{{=URL('User','add_user')}}"> Users</a></li>
		              	</ul>
		          	</div>
				</div>
				<div class="menu_options">
					<a href="" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Notifications"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a>
				</div>
				<div class="menu_options">
					<a href="" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Calendar"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></a>
				</div>
				<div class="menu_options">
					<a href=""><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
				</div>
			</div>
		</div>
	</div>
</header>	