{{extend 'navbar.html'}}


<head>
  <link rel="stylesheet" href="{{=URL('static','css/flash.css')}}"/> <!--  a custom css file for flash massage -->
	<link rel="stylesheet" href="{{=URL('static','css/style.css')}}"/> <!--  a custom css file for general usage -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{=URL('static','js/flash.js')}}"></script>  <!-- js file dedicated to the flash messages -->
    
</head>

<body>
{{ if session.flash:}} <!-- for the session message -->
<div class="popup"> <a href="#" class="close">
  <svg id="Layer_1" x="0px" y="0px" width="10px" height="10px" viewBox="215.186 215.671 80.802 80.8" enable-background="new 215.186 215.671 80.802 80.8" xml:space="preserve">
        <polygon fill="red" points="280.486,296.466 255.586,271.566 230.686,296.471 215.19,280.964 240.086,256.066 215.186,231.17 230.69,215.674 255.586,240.566 280.475,215.671 295.985,231.169 271.089,256.064 295.987,280.96 "/>
       </svg></a>
      <div class="flash"><h1 >{{=session.flash }}</h1></div>
</div>
{{pass}}

<h3>Taza mal</h3>

{{  if len(data)>0:
        last_id=data[0]['crm_lead_field_value']['lead_id']
        response.write("""<div>div start""",escape=False)
        for key in data.keys():
          if last_id == data[key]['crm_lead_field_value']['lead_id']:
            response.write("""<h4>%s : %s </h4>""" %(data[key]['crm_lead_field']['field_name'],data[key]['crm_lead_field_value']['field_value']),escape=False)
            
          else:
            response.write("""<li>div end</li><br> </div> """,escape=False)
            response.write("""<div>div start""",escape=False)
            response.write("""<h4>%s : %s </h4>""" %(data[key]['crm_lead_field']['field_name'],data[key]['crm_lead_field_value']['field_value']),escape=False)
            pass
          last_id=data[key]['crm_lead_field_value']['lead_id']
          pass
        response.write("""<li>div end</li><br> </div> """,escape=False)
}}
 {{ else:}}
  <h4>Add <a href="{{=URL('leads_add')}}">new lead!</a></h4>

  
  {{pass}}
</body>
