{{extend 'navbar.html'}}
{{ include 'web2py_ajax.html'}}
    <head>
       
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    </head>

    <body>




        <div class="container">
            <div class="form">
                <div class="page_menu">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-8">
                            <h1>Edit Lead</h1>
                        </div>
                                       </div>
                </div>
                <div class="well">
                    {{=form.custom.begin}}
                        <div class="row">
                            
                    

                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <h3>Lead Information</h3>
                            </div>


                            {{for key in leads_form_fields.keys():}}
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">{{=leads_form_fields[key]}}</label>
                                {{=eval('form.custom.widget.'+key)}}
                            </div>
                            {{pass}}

                            <style>
                                #suggestions { position: relative; }
                                .suggestions { background: white; border: solid 1px #55A6C8; }
                                .suggestions DIV { padding: 2px 4px 2px 4px; }
                            </style>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <div style="position: absolute;" id="suggestions" class="suggestions"></div>
                            </div>
                            <script type="text/javascript">
                                jQuery("#no_table_company").keyup(function(){
                                    ajax('{{=URL('CRM', 'contact_selector')}}', ['company'], 'suggestions')
                                });

                                function set_company_value(obj) {
                                    // debugger;
                                    var lContactID = $(obj).data('id');
                                    ajax('{{=URL('CRM', 'contact_details')}}?contactId='+lContactID, [], ':eval')
                                }
                            </script>
                            



                        </div>
                   
                    </div>
                <div class="row">
                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-8">
                            
                        </div>
                        <div class="col-md-offset-3 col-lg-offset-3 col-md-3 col-lg-3 col-xs-12 col-sm-4">
                            <p class="margin_t_20">
                                <input type="submit" class="btn btn-primary btn-lg" value="Save">
                                <a href="{{=URL('../../../ERP/CRM/leads')}}"><button type="button" class="btn btn-default btn-lg">Cancel</button></a>
                            </p>
                        </div>
                    </div>
                     {{=form.custom.end}}
            </div>
        </div>
<script type="text/javascript">
    function setUserTimeZone() {
        $('#local_timezone').val(Intl.DateTimeFormat().resolvedOptions().timeZone);
        //debugger;
        var now = new Date();
        var month = parseInt(now.getMonth()) + 1;
        $('#local_entry_time').val(now.getFullYear()+'-'+month+'-'+now.getDate()+' '+now.toLocaleTimeString());
    }
    setUserTimeZone();

    function setValue(jsonData) {
        $.each(jsonData, function(k,v){
            // debugger;
            var element = $('#no_table_'+k).prop('tagName');
            switch(element) {
                case '':
                    break;
                default:
                    $('#no_table_'+k).val(v);
                    $('#no_table_'+k).prop('readonly',true);
                    break;
            } 
        });
        $('#suggestions').hide();
    }
</script>
message:--
{{=session.message}}
    </body>
