{{extend 'navbar.html'}}
<head>
  
  <link rel="stylesheet" href="/ERP/static/css/navbar.css"/> <!--  a custom css file for flash massage -->
  <link rel="stylesheet" href="/ERP/static/css/custom_styles.css"/> <!--  a custom css file for flash massage -->


</head>
<body>


  
<div class="container-fluid">
  <div class="row bg-gray padding-10">
    <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3 text-center">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
    </div>
   <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3 text-center">
    <div class="btn-group" role="group" aria-label="...">
      <a href="{{=URL('leads_add')}}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></a>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></button>
    </div>
   </div> 
  </div>

  <div class="row margin-10">
    <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3 bg-light-gray padding-10 border-right">
      <div class="section_head padding-10">
        <h3 class="margin-10">Filter Leads</h3>
      </div>
      <div class="filter accordian-container">
        <div class="custom-checkbox filter-head accordian-head">
          <input type="checkbox" value="#" name="price" id="check-cat-price-0" class="filter-checkbox">
          <label for="check-cat-price-0">Koyla kaala hai </label>
        </div>
        <div class="filter-body accordian-body">
          baba ji ki booty
        </div>
      </div>
      <div class="filter accordian-container">
        <div class="custom-checkbox">
          <input type="checkbox" value="#" name="price" id="check-cat-price-1" class="filter-checkbox">
          <label for="check-cat-price-1">Chattano ne paala </label>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-lg-9 col-xs-9 col-sm-9 ">
      <table class="table table-bordered">
        <tr>
          <th>Company</th>
          <th>Name</th>
          <th>E-mail</th>
          <th>Phone</th>
          <th>Lead Source</th>
          <th>Description</th>
          <th>Status</th>
          <th>Action</th>
        </tr>

        {{  if len(data)>0:
                
                for key in data.keys():
                    response.write("<tr>",escape=False)
                    response.write("<td>%s</td>"%data[key]['Company'],escape=False)
                    response.write("<td>%s</td>"%data[key]['Name'],escape=False)
                    response.write("<td>%s</td>"%data[key]['Email'],escape=False)
                    response.write("<td>%s</td>"%data[key]['Phone'],escape=False)
                    response.write("<td>%s</td>"%data[key]['Lead Source'],escape=False)
                    response.write("<td>%s</td>"%data[key]['Description'],escape=False)
                    response.write("<td>%s</td>"%data[key]['Status'],escape=False)
                    response.write("<td><a href= %s >edit</a></td>"%URL('leads_update',args=[data[key]['lead_key_id']]),escape=False)
                    response.write("</tr>",escape=False)
                    pass
                    
        }}

        {{ else:}}
        <tr><td colspan=8 class="text-center">Add <a href="{{=URL('leads_add')}}">new lead!</a></td></tr>
        {{pass}}

      </table>
    </div>
  </div>  
</div>
</body>
<script>
  setAccordian();
function setAccordian() {

    var elems = document.getElementsByClassName('accordian-head'),
        active_class = 'open';

    for (var i in elems) {

        elems[i].onclick = function () {
            if (this.classList.contains(active_class)) {
                this.classList.remove(active_class);
            } else {
                this.classList.add(active_class);
            }

        };

    }

}

</script>
</body>