{{extend 'navbar.html'}}
<head>
  
  <link rel="stylesheet" href="/ERP/static/css/navbar.css"/> <!--  a custom css file for flash massage -->
  <link rel="stylesheet" href="/ERP/static/css/custom_styles.css"/> <!--  a custom css file for flash massage -->


</head>
<body>


  
<div class="container-fluid">
  <div class="row padding-10">
    <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2 bg-gray text-center">
      Some text here
    </div>
    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
      <div class="row bg-light-gray padding-10">
        <div class="col-md-8 col-lg-8 col-xs-8 col-sm-8  text-center">
          
        </div>
        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
          <div class="#">
            <button type="button" class="btn btn-success">Convert</button>
            <button type="button" class="btn btn-primary">Send E-mail</button>
            <button type="button" class="btn btn-default">Edit</button>
          </div>
        </div>          
      </div>
      <div class="container-fluid" id="sec_info">
        <div class="sec_head">
          <h2>Lead Company Name</h2>
          <h6>Lead Contact Name</h6>
        </div>
        <div class="margin-10">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <div class="field_label">
                Lead owner
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <div class="field_value">
                Priyesh Sharma
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <div class="field_label">
                E-mail
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <div class="field_value">
                lead mail id
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <div class="field_label">
                Phone
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <div class="field_value">
                1234567890
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <div class="field_label">
                Lead Status
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <div class="field_value">
                Current Status
              </div>
            </div>
          </div>
        </div>
        <div class="row margin-tp-20">
          <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" style="width: 10%">
                <span class="sr-only">10% Complete (danger)</span>
              </div>
              <div class="progress-bar progress-bar-warning" style="width: 20%">
                <span class="sr-only">20% Complete (warning)</span>
              </div>
              <div class="progress-bar progress-bar-success" style="width: 35%">
                <span class="sr-only">35% Complete (success)</span>
              </div>
            </div>
          </div>
        </div>
      </div><!-- Sec Info Khatam -->
      <div class="container-fluid" id ="sec_timeline">
        <div class="margin-tp-20">
          <div class="sec_head">
            <h3>Timeline</h3>
          </div>
          <table class="table table-striped">
            <tr>
              <th>Stage</th>
              <th>Progress</th>
              <th>Modified Date</th>
              <th>Modified Time</th>
              <th>Modified By</th>
            </tr>
            <tr>
              <td>Design Basis</td>
              <td>50%</td>
              <td>Feb 18th, 2018</td>
              <td>08:24 PM</td>
              <td>Priyesh</td>
            </tr>
            <tr>
              <td>Water test completed</td>
              <td>30%</td>
              <td>Feb 15th, 2018</td>
              <td>08:24 PM</td>
              <td>Priyesh</td>
            </tr>
          </table>
        </div>
      </div><!-- Sec timeline Khatam -->
      <div class="container-fluid" id="sec_notes">
        <div class="margin-tp-20">
          <div class="sec_head">
            <h3>Notes</h3>
          </div>
          <div class="#">
            <!-- Already added notes -->
          </div>
          <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
            <textarea class="form-control" rows="4"></textarea>
            <div class="margin-10 text-right">
              <button class="margin-10 text-right btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div><!-- Sec notes khatam -->
      <div class="container-fluid" id="sec_notes">
        <div class="margin-tp-20">
          <div class="sec_head">
            <h3>Water Analysis Report</h3>
          </div>
          <div class="#">
            <!-- Already added Water test -->
          </div>
          <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="field_label">
                  Add water test data
                </div>
              </div>
              <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#WaterModal">Upload Data</button>
              </div>
            </div>
          </div>
        </div>
      </div><!-- Sec Cost Estimation khatam -->
      <div class="container-fluid" id="sec_design_basis">
        <div class="margin-tp-20">
          <div class="sec_head">
            <h3>Design Basis</h3>
          </div>
          <div class="#">
            <!-- Already added design basis -->
          </div>
          <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
            <div class="margin-10 text-right">
              <div class="form-group">
                <div class="input-group input-file" name="Fichier1">
                  <input type="text" class="form-control" placeholder='Choose a file...' />     
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-choose" type="button">Choose</button>
                  </span>
                </div>
                <div class="margin-tp-20 text-right">
                  <button class="text-right btn btn-primary">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- sec design basis khatam -->
      <div class="container-fluid" id="sec_design_basis">
        <div class="margin-tp-20">
          <div class="sec_head">
            <h3>P &amp; I Diagrams Upload</h3>
          </div>
          <div class="#">
            <!-- Already added P & ID -->
          </div>
          <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
            <div class="margin-10 text-right">
              <div class="form-group">
                <div class="input-group input-file" name="Fichier1">
                  <input type="text" class="form-control" placeholder='Choose a file...' />     
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-choose" type="button">Choose</button>
                  </span>
                </div>
                <div class="margin-tp-20 text-right">
                  <button class=" text-right btn btn-primary">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- sec P&I diagram khatam -->
      <div class="container-fluid" id="sec_notes">
        <div class="margin-tp-20">
          <div class="sec_head">
            <h3>Estimated Cost</h3>
          </div>
          <div class="#">
            <!-- Already added Quotes -->
          </div>
          <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="field_label">
                  Total Estimated Cost
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="field_value">
                  <div class="input-group">
                    <span class="input-group-addon">Rs.</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest Rs)">  
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-xs-2 col-sm-2 col-md-2">
                <button type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div><!-- Sec Cost Estimation khatam -->
      <div class="container-fluid" id="sec_design_basis">
        <div class="margin-tp-20">
          <div class="sec_head">
            <h3>Proposal</h3>
          </div>
          <div class="#">
            <!-- Already added Propoosals -->
          </div>
          <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
            <div class="margin-10 text-right">
              <div class="form-group">
                <div class="input-group input-file" name="Fichier1">
                  <input type="text" class="form-control" placeholder='Choose a file...' />     
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-choose" type="button">Choose</button>
                  </span>
                </div>
              </div>
            </div>
            <div class="margin-tp-20 text-right">
                <button class="text-right btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div><!--sec Proposal Upload khatam -->
    </div>
    <!-- Main Dashboard Ends Here -->

   
  </div>

</div>
<!-- modal sections -->
  <div class="modal fade" id="WaterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="myModalLabel">Water Analysis Report Required For Plant Design And Process Selection</h4>
        </div>
        <div class="modal-body">
          <h6 class="text-center">Client's Name</h6>
          <div class="row margin-10">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Source of Water
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Appearance
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row margin-10">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Colour, Hazen units
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Turbidity
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row margin-10">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Conductivity Micro Siemens per cm at 25 deg C
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                PH
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row margin-10">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Free Mineral Acidity (EMA) ppm as CaCO3
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Total Alkalinity, as CaCO3
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row margin-10">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Phenopthalein Alkalinity, as CaCO3
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Free Carbondioxide, as CaCO3
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row margin-10">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Bicarbonate, as CaCO3
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Carbonate, as CaCO3
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row margin-10">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Hydroxide, as CaCO3
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Sulphate, as CaCO3
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row margin-10">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Chloride, as CaCO3
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Silica, as CaCO3
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row margin-10">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Calcium, as CaCO3
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Magnesium, as CaCO3
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row margin-10">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Total Hardness, as CaCO3
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Sodium, as CaCO3
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row margin-10">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Potassium, as CaCO3
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Total Iron, as Fe
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row margin-10">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Manganese
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Aluminum
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
          </div> 
          <div class="row margin-10">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Dissolved Oxygen
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Total Suspended Solids
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row margin-10">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Total Dissolved Solids
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Chemical Oxygen demand mg/ltr.
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row margin-10">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Biological Oxygen demand mg/ltr.
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_label text-center">
                Oil &amp; Grease
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="field_value text-left">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  function bs_input_file() {
  $(".input-file").before(
    function() {
      if ( ! $(this).prev().hasClass('input-ghost') ) {
        var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
        element.attr("name",$(this).attr("name"));
        element.change(function(){
          element.next(element).find('input').val((element.val()).split('\\').pop());
        });
        $(this).find("button.btn-choose").click(function(){
          element.click();
        });
        $(this).find("button.btn-reset").click(function(){
          element.val(null);
          $(this).parents(".input-file").find('input').val('');
        });
        $(this).find('input').css("cursor","pointer");
        $(this).find('input').mousedown(function() {
          $(this).parents('.input-file').prev().click();
          return false;
        });
        return element;
      }
    }
  );
}
$(function() {
  bs_input_file();
});
</script>