{{extend 'navbar.html'}}
{{ include 'web2py_ajax.html'}}
    <head>
        <link rel="stylesheet" href="{{=URL('static','css/flash.css')}}"/> <!--  a custom css file for flash massage -->
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="{{=URL('static','js/flash.js')}}"></script>  <!-- js file dedicated to the flash messages -->

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    </head>

    <body>


{{ if session.flash:}}
<div class="popup"> <a href="#" class="close">
  <svg id="Layer_1" x="0px" y="0px" width="10px" height="10px" viewBox="215.186 215.671 80.802 80.8" enable-background="new 215.186 215.671 80.802 80.8" xml:space="preserve">
        <polygon fill="#FFFFFF" points="280.486,296.466 255.586,271.566 230.686,296.471 215.19,280.964 240.086,256.066 215.186,231.17 230.69,215.674 255.586,240.566 280.475,215.671 295.985,231.169 271.089,256.064 295.987,280.96 "/>
       </svg></a>
      <div class="flash"><h1 >{{=session.flash or ''}}</h1></div>
</div>
{{pass}}

        <div class="container">
            <div class="form">
                <div class="page_menu">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-8">
                            <h1>Create Leads</h1>
                        </div>
                                       </div>
                </div>
                <div class="well">
                    {{=form.custom.begin}}
                        <div class="row">
                            
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <h3>Company Information</h3>
                            </div>

                            {{for key in company_form_fields.keys():}}
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">{{=company_form_fields[key]}}</label>
                                {{=eval('form.custom.widget.'+key)}}
                            </div>
                            {{pass}}

                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <h3>Contact Information</h3>
                                <input type="hidden" name="company_key_id" id="company_key_id" value="0">
                                <input type="hidden" name="contact_key_id" id="contact_key_id" value="0">
                            </div>


                            {{for key in contact_form_fields.keys():}}
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">{{=contact_form_fields[key]}}</label>
                                {{=eval('form.custom.widget.'+key)}}
                            </div>
                            {{pass}}

                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <h3>Lead Information</h3>
                            </div>


                            {{for key in leads_form_fields.keys():}}
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">{{=leads_form_fields[key]}}</label>
                                {{=eval('form.custom.widget.'+key)}}
                            </div>
                            {{pass}}

                            <style>
                                #suggestions { position: relative; }
                                .suggestions { background: white; border: solid 1px #55A6C8; }
                                .suggestions DIV { padding: 2px 4px 2px 4px; }
                            </style>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">Company</label>
                                {{=form.custom.widget.company}}
                                <div style="position: absolute;" id="suggestions" class="suggestions"></div>
                            </div>
                            <script type="text/javascript">
                                jQuery("#no_table_company").keyup(function(){
                                    ajax('{{=URL('CRM', 'contact_selector')}}', ['company'], 'suggestions')
                                });

                                function set_company_value(obj) {
                                    debugger;
                                    var lContactID = $(obj).data('id');
                                    ajax('{{=URL('CRM', 'contact_details')}}?contactId='+lContactID, [], ':eval')
                                }
                            </script>
                            



                        </div>
                   
                    </div>
                <div class="row">
                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-8">
                            
                        </div>
                        <div class="col-md-offset-3 col-lg-offset-3 col-md-3 col-lg-3 col-xs-12 col-sm-4">
                            <p class="margin_t_20">
                                <input type="submit" class="btn btn-primary btn-lg" value="Save">
                                <a href="{{=URL('../../../ERP/CRM/leads')}}"><button type="button" class="btn btn-default btn-lg">Cancel</button></a>
                            </p>
                        </div>
                    </div>
                     {{=form.custom.end}}
            </div>
        </div>
<script type="text/javascript">
    function setUserTimeZone() {
        $('#local_timezone').val(Intl.DateTimeFormat().resolvedOptions().timeZone);
        //debugger;
        var now = new Date();
        var month = parseInt(now.getMonth()) + 1;
        $('#local_entry_time').val(now.getFullYear()+'-'+month+'-'+now.getDate()+' '+now.toLocaleTimeString());
    }
    setUserTimeZone();

    function setValue(jsonData) {
        $.each(jsonData, function(k,v){
            debugger;
            var element = $('#no_table_'+k).prop('tagName');
            switch(element) {
                case '':
                    break;
                default:
                    $('#no_table_'+k).val(v);
                    $('#no_table_'+k).prop('readonly',true);
                    break;
            } 
        });
        $('#suggestions').hide();
    }
</script>
{{=session.message}}
    </body>
