
{{extend 'navbar.html'}}
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/ERP/static/css/custom_styles.css"/> <!--  a custom css file for flash massage -->


</head>
<body>
  
<div class="container-fluid">
  <div class="well">
    <div class="row padding-10"> 
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 border-bottom-light" style="border-bottom: 1px solid #f9f9f9">
        <div class="form-group">
              <label class="control-label" for="exampleInputEmail1">Lead Status</label>
              <select class="form-control generic-widget" id="no_table_lead_status" name="lead_status" placeholder="Lead Status">
                <option value="">Lead Status</option>
                <option value="Initiated">Initiated</option>
                <option value="Done">Done</option>
                <option value="Pending">Pending</option>
                <option value="Other">Other</option>
              </select>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 border-bottom-light" style="border-bottom: 1px solid #f9f9f9">
        <h2>User Roles - *Selected User*</h2>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2"> 
        <div class="checkbox">
          <label><input type="checkbox" value="">Option 1</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Option 2</label>
        </div
      </div> 
    </div>
  </div>
</div>
    
</body>

