<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="{{=URL('static','css/flash.css')}}"/> <!--  a custom css file for flash massage-->
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="{{=URL('static','js/flash.js')}}"></script>  <!-- js file dedicated to the flash messages -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{=URL('static','css/company_reg_page.css')}}"/> <!--  a custom css file -->

        <!-- jQuery library -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        Latest compiled JavaScript
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

        <!-- <link href="../css/style.css" rel="stylesheet" type="text/css" /> -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="http://hl360opencodeserver.com/assets/js/city_state.js"></script> -->
        <title id="page-title">Company registration</title>


        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    </head>

    <body>
    {{ if session.flash:}} <!-- for the session message -->
    <div class="popup"> <a href="#" class="close">
      <svg id="Layer_1" x="0px" y="0px" width="10px" height="10px" viewBox="215.186 215.671 80.802 80.8" enable-background="new 215.186 215.671 80.802 80.8" xml:space="preserve">
            <polygon fill="red" points="280.486,296.466 255.586,271.566 230.686,296.471 215.19,280.964 240.086,256.066 215.186,231.17 230.69,215.674 255.586,240.566 280.475,215.671 295.985,231.169 271.089,256.064 295.987,280.96 "/>
           </svg></a>
          <div class="flash"><h1 >{{=session.flash }}</h1></div>
    </div>
    {{pass}}

            {{=form.custom.begin}}
           
        <div class="container">
            <div class="form">
                <div class="page_menu">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-8">
                            <h1> Registration</h1>
                        </div>
                        <div class="col-md-offset-3 col-lg-offset-3 col-md-3 col-lg-3 col-xs-12 col-sm-4">
                           
                        </div>
                    </div>
                </div>
                <div class="well">
                    
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <h3>Institution Registration</h3>
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">Institute Name *</label>
                                {{=form.custom.widget.company_name}}                                
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">Legal Reg No</label>
                                 {{=form.custom.widget.company_identification}}
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">Address Line 1 *</label>
                                {{=form.custom.widget.company_address_line1}}
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">Address Line 2</label>
                                {{=form.custom.widget.company_address_line2}}  
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">Country *</label>
                                {{=form.custom.widget.country}}      
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">State *</label>
                                {{=form.custom.widget.states}}
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">City *</label>
                                {{=form.custom.widget.city}}  
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">Postal Code *</label>
                                {{=form.custom.widget.pincode}}
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">Office Number *</label>
                                {{=form.custom.widget.office_number}} 
                            </div>

                            <!-- super admin details -->

                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <h3>Contact Info : </h3>
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">First Name</label>
                                {{=form.custom.widget.first_name}}
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">Last Name</label>
                                {{=form.custom.widget.last_name}}  
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">Email-ID</label>
                                {{=form.custom.widget.email_id}}  
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">Mobile Number</label>
                                {{=form.custom.widget.mobile_number}}  
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">Password</label>
                                {{=form.custom.widget.password}}  
                            </div>
                             <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">Verify Password</label>
                                {{=form.custom.widget.verify_password}}  
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-xs-6 col-sm-6">
                                <label for="exampleInputEmail1">Verification Code *</label>
                                {{=form.custom.widget.verification_code}}
                            </div>

                        </div>
                    
                </div>
                <div class="row">
                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-8">
                            
                        </div>
                        <div class="col-md-offset-3 col-lg-offset-3 col-md-3 col-lg-3 col-xs-12 col-sm-4">
                            <p class="margin_t_20">
                                 <button class="sub" type="submit">Register</button>
                            </p>

                        </div>
                    </div>
            </div>
        </div>
        {{=form.custom.end}}
<script type="text/javascript">
    /*function setUserTimeZone() {
        $('#local_timezone').val(Intl.DateTimeFormat().resolvedOptions().timeZone);
        //debugger;
        var now = new Date();
        var month = parseInt(now.getMonth()) + 1;
        $('#local_entry_time').val(now.getFullYear()+'-'+month+'-'+now.getDate()+' '+now.toLocaleTimeString());
    }
    setUserTimeZone();*/
</script>
    </body>
</html>
