<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://use.fontawesome.com/6353c44d0f.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
          
  	<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="{{=URL('static','css/new_style.css')}}" />  <!--  a custom css file for flash massage -->

</head>


<body>
	<!-- Nav bar started  -->
	<header>
		<div class="upper_nav_container">
			<div class="upper_nav">
				<div>
					<span class="glyphicon glyphicon-th" aria-hidden="true"></span>
				</div>
				<div>
					Home
				</div>
				<div>
					<strong>CRM</strong>
				</div>
				<div class="pull-right">
					<div class="right_menu">
						Welcome! <strong>Priyesh Sharma, <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></strong>
					</div>
					<div id="Avyakt">
						<div class="right_menu">
							Avyakt
						</div>
					</div>
				</div>	
			</div>
		</div>
		<!-- Main menu -->
		<div class="main_nav_container">
			<div class="main_nav">
				<div class="main_nav_left">
					<!-- <div class="logo" id="logo_client">
						<img src="images/bidec_logo_blue.png">
					</div> -->
					<div class="main_menu">
						<div class="menu_options">
							Dashboard
						</div>
						<div class="menu_options">
							Leads
						</div>
						<div class="menu_options">
							Accounts
						</div>
						<div class="menu_options">
							Deals
						</div>
						<div class="menu_options">
							Contacts
						</div>
						<div class="menu_options">
							Meetings
						</div>
					</div>
				</div>
				<div class="main_nav_right pull-right">
					<div class="menu_options">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</div>
					<div class="menu_options">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</div>
					<div class="menu_options">
						<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
					</div>
					<div class="menu_options">
						<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					</div>
					<div class="menu_options">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
					</div>
				</div>
			</div>
		</div>
	</header>	
	<!-- Nav bar ended -->

	<!-- Main Layout(L-update) start here -->
		<!-- side section fixed -->
		<div class="side_bar_fixed">
		  <div class="side_bar_container padding-10">
		    <div class="side_bar_head margin-tp-20">
		      <h3>Quick Links</h3>
		    </div>
		    <div class="side_bar_elements_container margin-tp-20">
		      <div class="padding-10 side_bar_elements">
		        <!-- <a href="#sec_lead_info">Lead Information</a> -->
		        <input type="checkbox" id="test5" />
                <label for="test5">Lead Information</label>
		      </div>
		      <div class="padding-10 side_bar_elements">
		        <a href="#sec_timeline">Timeline</a>
		      </div>
		      <div class="padding-10 side_bar_elements">
		        <a href="#sec_water_test">Water Analysis Test</a>
		      </div>
		<!--       <div class="padding-10 side_bar_elements">
		        <a href="#sec_design_basis">Design Basis</a>
		      </div>
		      <div class="padding-10 side_bar_elements">
		        <a href="#sec_pid">P &amp; I Diagrams Upload</a>
		      </div>
		      <div class="padding-10 side_bar_elements">
		        <a href="#sec_treatment">Treatment Scheme</a>
		      </div>
		      <div class="padding-10 side_bar_elements">
		        <a href="#sec_technical">Technical Details</a>
		      </div>
		      <div class="padding-10 side_bar_elements">
		        <a href="#sec_scope">Scope of supply and schedule of Exclusions</a>
		      </div>
		      <div class="padding-10 side_bar_elements">
		        <a href="#sec_est_cost">Estimated Cost</a>
		      </div>
		      <div class="padding-10 side_bar_elements">
		        <a href="#sec_prices_tc">Prices with commercial Terms and Conditions</a>
		      </div>
		      <div class="padding-10 side_bar_elements">
		        <a href="#sec_proposal">Proposal Upload</a>
		      </div> -->
		      <div class="padding-10 side_bar_elements">
                <div class="filter_container">
                    <div class="filter_head">
                        <input type="checkbox" id="test5" />
                        <label for="test5">Red</label>
                    </div>
                    <div class="filter_body padding-10">
                        <div class="font_small">
                            <div class="checkbox">
                                <input type="checkbox" id="test5" />
                                <label for="test5">Red</label>
                            </div>
                            <div>
                                 <input class="with-gap" name="group1" type="radio" id="test3"  />
                                 <label for="test3">Green</label>
                             </div>
                             <div class="#">
                                  <select class="browser-default">
                                      <option value="" disabled selected>Choose your option</option>
                                      <option value="1">Option 1</option>
                                      <option value="2">Option 2</option>
                                      <option value="3">Option 3</option>
                                 </select>
                             </div>
                             <div class="#">
                                 <input id="some_id" placeholder="sometext" type="text" class="validate">
                                
                             </div>

                        </div>
                    </div>
                </div>
              </div>
		    </div>
		  </div>
		</div>
		<!-- side section fixed ends -->
		<!-- main section -->
		<div class="main_block">
		  <div class="row bg-light-gray padding-10 line_height_35">
		    <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7 main_block_head text-left">
		      <div class="display_none">
		        <h2 class="margin-0"><a href="#"><span class="glyphicon glyphicon-arrow-left padding-lr-10" aria-hidden="true"></span></a> Lead Company Name</h2>
		      </div>
		    </div>
		    <div class="col-md-5 col-lg-5 col-xs-5 col-sm-5">
		      <div class="text-center">
		        <!-- <button type="button" onclick="open_custom_modal('custom_modal_id')" class="btn btn-success">Open Custom Modal</button> -->
		        <button type="button" class="btn btn-success">Convert</button>
		        <button type="button" class="btn btn-primary">Send E-mail</button>
		        <button type="button" class="btn btn-primary">Edit</button>
		      </div>
		    </div>          
		  </div>
		  <div class="container-fluid" id="sec_timeline">
		    <div class="margin-tp-20">
		          <div class="sec_head">
		            <h3>Timeline</h3>
		          </div>
		          <table class="table table-striped">
		            <tr>
		              <th>Activity</th>
		              <th>Stage</th>
		              <th>Progress</th>
		              <th>Modified Date</th>
		              <th>Modified Time</th>
		              <th>Modified By</th>
		            </tr>
		            <tr>
		              <td>Status Changed</td>
		              <td>Design Basis</td>
		              <td>50%</td>
		              <td>Feb 18th, 2018</td>
		              <td>08:24 PM</td>
		              <td>Priyesh</td>
		            </tr>
		            <tr>
		              <td>Note added</td>
		              <td>Water test completed</td>
		              <td>30%</td>
		              <td>Feb 15th, 2018</td>
		              <td>08:24 PM</td>
		              <td>Priyesh</td>
		            </tr>
		         </table>
		    </div>
		  </div>
		</div>  
		<!-- main section ends -->
	<!-- Main layout(L-update) ends here --> 
</body>
</html>
