<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" href="{{=URL('static','css/login.css')}}"/> <!--  a custom css file -->


</head>
<body>
<div class="flash">{{=session.flash or ''}}</div>

{{=form.custom.begin}}
<!-- following is code for the error printing in the form, and canot be removed by the html tags -->
{{if form.errors:
	for email_id in form.errors:
		pass
	for password in form.errors:
		pass
	pass }}
<!-- this is div which contains the form -->
<div class="inner-container">
    <div class="box">
      <h1>Super Admin</h1>
      {{=form.custom.widget.email_id}}
	  {{=form.custom.widget.password}}      
	   <button>Login</button>

    </div>
  </div>
{{form.errors.clear()}}  <!-- this is to clear the error variable -->
{{=form.custom.end}}.  <!-- end of the login form -->


</body>
</html>