<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
    <link rel="stylesheet" href="{{=URL('static','css/login.css')}}"/> <!--  a custom css file -->
    
    
</head>

<body>

{{include 'flash.html'}}
  <div class="login-page"> <!-- this is div which contains the form -->
    <div class="form">
      {{=form.custom.begin}}
        <h1>Super Admin</h1>
        {{=form.custom.widget.email_id}}
  	    {{=form.custom.widget.password}}   
  	    <button>Login</button>
      {{=form.custom.end}} <!-- end of the login form -->
      {{if lRedirect == 1:}}
      <h4><a href="{{=URL('../../../ERP/LoginPage/logout_from_all',vars={'user_id':session.user_id,'login_time': session.login_time,'session_id': session.session_id})}}">Logout from other devices!</a></h4>
      {{pass}}
    </div>
  </div>
</body>
</html>
