<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
    <link rel="stylesheet" href="{{=URL('static','css/login.css')}}"/> <!--  a custom css file -->
    
    <link rel="stylesheet" href="{{=URL('static','css/flash.css')}}"/> <!--  a custom css file for flash massage -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{=URL('static','js/flash.js')}}"></script>  <!-- js file dedicated to the flash messages -->

</head>

<body>
{{ if session.flash:}} <!-- for the session message -->
<div class="popup"> <a href="#" class="close">
  <svg id="Layer_1" x="0px" y="0px" width="10px" height="10px" viewBox="215.186 215.671 80.802 80.8" enable-background="new 215.186 215.671 80.802 80.8" xml:space="preserve">
        <polygon fill="red" points="280.486,296.466 255.586,271.566 230.686,296.471 215.19,280.964 240.086,256.066 215.186,231.17 230.69,215.674 255.586,240.566 280.475,215.671 295.985,231.169 271.089,256.064 295.987,280.96 "/>
       </svg></a>
      <div class="flash"><h1 >{{=session.flash }}</h1></div>
</div>
{{pass}}
  <div class="login-page"> <!-- this is div which contains the form -->
    <div class="form">
      {{=form.custom.begin}}
        <h1>Super Admin</h1>
        {{=form.custom.widget.email_id}}
  	    {{=form.custom.widget.password}}   
  	    <button>Login</button>
      {{=form.custom.end}} <!-- end of the login form -->
      {{if lRedirect == 1:}}
      <h4><a href="{{=URL('../../../ERP/LoginPage/logout_from_all',vars={'user_id':session.user_id,'login_time': session.login_time,'session_id': session.session_id})}}">Logout from other devices!</a></h4>
      {{pass}}
    </div>
  </div>
</body>
</html>
